// @import '../../index.scss';

.pokemon-detail {
  position: relative;
  &__title {
    margin-top: 1rem;
    &--name {
      span {
        font-size: 0.8rem;
      }
    }
  }
}

.pokemon-info {
  &__image {
    width: 40%;
  }

  &__stats {
    &--stat {
      height: 30px;
    }
  }

  &__bars {
    &--bar {
      position: relative;
      font-size: 0.8rem;
      height: 1.9rem;
    }

    span {
      z-index: 2;
    }

    &--bar-color {
      top: 0;
      position: absolute;
      height: 30px;
      width: 50%;
      left: 0;
    }
  }
}

.pokemon-description {
  &__text {
    font-size: 0.9rem;
    line-height: 1.1;
  }
}

.pokemon-break {
  width: 105.7%;
  height: 3rem;
  margin-left: -16px;
  margin-right: -20px;
}

.pokemon-weakness {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;

  &__card {
    &--block {
      flex: 1 1 90%;
    }

    &--amount {
      font-size: 1rem;
    }
  }
}

.pokemon-evolution {
  &__card {
    flex: 1 1 auto;

    img {
      border-radius: 50%;
    }
  }
}
