* {
  box-sizing: border-box;
}

$mainFont: 'Open Sans', sans-serif;
$subFont: 'Proza Libre', sans-serif;

body {
  background: url('https://i.imgur.com/2gfwG.png');
  padding: 0;
  margin: 0;
}

/* --------------------- */
/*      CONTAINER        */
/* --------------------- */
.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hv-100 {
  height: 100vh;
}

/* --------------------- */
/*      COLORS           */
/* --------------------- */
$pageColors: (
  primary: #ee6e73,
  white: #fff,
  grey: #f9f9f9,
  darker-grey: #b7b7b7,
  black: #252525,
  green: #6ccbad
);

@each $pageColor, $prop in $pageColors {
  .color-#{$pageColor} {
    color: $prop;
  }

  .bg-#{$pageColor} {
    background: $prop;
  }
}

/* --------------------- */
/*      WEIGHTS          */
/* --------------------- */
$weights: (
  regular: 400,
  bold: 600
);

@each $weight, $prop in $weights {
  .h-#{$weight} {
    font-weight: $prop;
    font-family: $mainFont;
  }

  .t-#{$weight} {
    font-weight: $prop;
    font-family: $subFont;
  }
}

.t-capitalize {
  text-transform: capitalize;
}

/* --------------------- */
/*      SPACING          */
/* --------------------- */
$spacing: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

@each $spacer, $prop in $spacing {
  .m-#{$spacer} {
    margin: $prop;
  }
  .mt-#{$spacer} {
    margin-top: $prop;
  }
  .ml-#{$spacer} {
    margin-left: $prop;
  }
  .mr-#{$spacer} {
    margin-right: $prop;
  }
  .mb-#{$spacer} {
    margin-bottom: $prop;
  }

  .p-#{$spacer} {
    padding: $prop;
  }
  .pt-#{$spacer} {
    padding-top: $prop;
  }
  .pl-#{$spacer} {
    padding-left: $prop;
  }
  .pr-#{$spacer} {
    padding-right: $prop;
  }
  .pb-#{$spacer} {
    padding-bottom: $prop;
  }
}

/* --------------------- */
/*    BORDER RADIUS      */
/* --------------------- */
.b-radius {
  border-radius: 0.6rem;
}

.b-radius-left {
  border-radius: 0.6rem 0 0 0.6rem;
}

/* --------------------- */
/*    BORDER SHADOW      */
/* --------------------- */
.b-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

/* --------------------- */
/*          FLEX         */
/* --------------------- */

.d-flex {
  display: flex;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-between {
  justify-content: space-between;
}

.d-align-center {
  align-items: center;
}

.d-flex-direction-column {
  flex-direction: column;
}

/* --------------------- */
/*  BUTTON ARROW         */
/* --------------------- */
.btn-arrow {
  box-sizing: border-box;
  height: 1.5rem;
  width: 1.5rem;
  border-style: solid;
  border-color: #b7b7b7;
  border-width: 0 1rem 1rem 0;
  transition: 0.15s ease-in-out all;
  cursor: pointer;

  &.right {
    transform: rotate(-45deg);
  }

  &.left {
    transform: rotate(135deg);
  }

  &:hover {
    border-width: 0 2px 2px 0;
  }

  &.disabled {
    pointer-events: none;
    border-color: #dadada;
  }
}

.Normal {
  background: #a8a77a;
}
.Fire {
  background: #ee8130;
}
.Water {
  background: #6390f0;
}
.Electric {
  background: #f7d02c;
}
.Grass {
  background: #7ac74c;
}
.Ice {
  background: #96d9d6;
}
.Fighting {
  background: #c22e28;
}
.Poison {
  background: #a33ea1;
}
.Ground {
  background: #e2bf65;
}
.Flying {
  background: #a98ff3;
}
.Psychic {
  background: #f95587;
}
.Bug {
  background: #a6b91a;
}
.Rock {
  background: #b6a136;
}
.Ghost {
  background: #735797;
}
.Dragon {
  background: #6f35fc;
}
.Dark {
  background: #705746;
}
.Steel {
  background: #b7b7ce;
}
.Fairy {
  background: #d685ad;
}

.pokemon-detail {
  &__title {
    &--name {
      span {
        font-size: 0.8rem;
      }
    }
  }
}

.pokemon-info {
  &__image {
    width: 40%;
  }

  &__stats {
    &--stat {
      height: 30px;
    }
  }

  &__bars {
    &--bar {
      position: relative;
      font-size: 0.8rem;
      height: 1.9rem;
    }

    span {
      z-index: 2;
    }

    &--bar-color {
      top: 0;
      position: absolute;
      height: 30px;
      width: 50%;
      left: 0;
    }
  }
}

.pokemon-description {
  &__text {
    font-size: 0.9rem;
    line-height: 1.1;
  }
}

.pokemon-break {
  width: 105.7%;
  height: 3rem;
  margin-left: -16px;
  margin-right: -20px;
}

.pokemon-weakness {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;

  &__card {
    &--block {
      flex: 1 1 90%;
    }

    &--amount {
      font-size: 1rem;
    }
  }
}

.pokemon-evolution {
  &__card {
    flex: 1 1 auto;

    img {
      border: 2px solid #7ac74c;
      border-radius: 50%;
    }
  }
}
