* {
  box-sizing: border-box;
}

$mainFont: 'Open Sans', sans-serif;
$subFont: 'Proza Libre', sans-serif;

body {
  background: url('../background.png');
  padding: 0;
  margin: 0;
}

/* --------------------- */
/*      CONTAINER        */
/* --------------------- */
.container {
  max-width: 600px;
  width: 100%;
  height: 82.7vh;
  // overflow-y: scroll;
  // overflow-x: hidden;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.hv-100 {
  height: 100vh;
}

.hide {
  display: none !important;
}

/* --------------------- */
/*      COLORS           */
/* --------------------- */
$pageColors: (
  primary: #ee6e73,
  white: #fff,
  grey: #f9f9f9,
  darker-grey: #b7b7b7,
  black: #252525,
  green: #6ccbad
);

@each $pageColor, $prop in $pageColors {
  .color-#{$pageColor} {
    color: $prop;
  }

  .bg-#{$pageColor} {
    background: $prop;
  }
}

/* --------------------- */
/*      WEIGHTS          */
/* --------------------- */
$weights: (
  regular: 400,
  bold: 600
);

@each $weight, $prop in $weights {
  .h-#{$weight} {
    font-weight: $prop;
    font-family: $mainFont;
  }

  .t-#{$weight} {
    font-weight: $prop;
    font-family: $subFont;
  }
}

.t-capitalize {
  text-transform: capitalize;
}

/* --------------------- */
/*      SPACING          */
/* --------------------- */
$spacing: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

@each $spacer, $prop in $spacing {
  .m-#{$spacer} {
    margin: $prop;
  }
  .mt-#{$spacer} {
    margin-top: $prop;
  }
  .ml-#{$spacer} {
    margin-left: $prop;
  }
  .mr-#{$spacer} {
    margin-right: $prop;
  }
  .mb-#{$spacer} {
    margin-bottom: $prop;
  }

  .p-#{$spacer} {
    padding: $prop;
  }
  .pt-#{$spacer} {
    padding-top: $prop;
  }
  .pl-#{$spacer} {
    padding-left: $prop;
  }
  .pr-#{$spacer} {
    padding-right: $prop;
  }
  .pb-#{$spacer} {
    padding-bottom: $prop;
  }
}

/* --------------------- */
/*    BORDER RADIUS      */
/* --------------------- */
.b-radius {
  border-radius: 0.6rem;
}

.b-radius-left {
  border-radius: 0.6rem 0 0 0.6rem;
}

/* --------------------- */
/*    BORDER SHADOW      */
/* --------------------- */
.b-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

/* --------------------- */
/*          FLEX         */
/* --------------------- */

.d-flex {
  display: flex;
}

.d-justify-center {
  justify-content: center;
}

.d-justify-between {
  justify-content: space-between;
}

.d-align-center {
  align-items: center;
}

.d-flex-direction-column {
  flex-direction: column;
}

/* --------------------- */
/*  BUTTON ARROW         */
/* --------------------- */
.btn-arrow {
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;

  &.back-to-list {
    padding: 0;
    img {
      height: 1.1rem;
      width: 1.1rem;
    }

    &.left {
      left: 13px;
    }
  }

  img {
    height: 2.5rem;
    width: 2.5rem;
  }

  &.right {
    right: -4em;
  }

  &.left {
    transform: rotate(179deg);
    left: -4em;
  }

  &.disabled {
    pointer-events: none;
    border-color: #dadada;
    opacity: 0.2;
  }
}

$colorTypes: (
  Normal: #a8a77a,
  Fire: #ee8130,
  Water: #6390f0,
  Electric: #f7d02c,
  Grass: #7ac74c,
  Ice: #96d9d6,
  Fighting: #c22e28,
  Poison: #a33ea1,
  Ground: #e2bf65,
  Flying: #a98ff3,
  Psychic: #f95587,
  Bug: #a6b91a,
  Rock: #b6a136,
  Ghost: #735797,
  Dragon: #6f35fc,
  Dark: #705746,
  Steel: #b7b7ce,
  Fairy: #d685ad
);

@each $colorType, $prop in $colorTypes {
  .#{$colorType} {
    background: $prop;
  }

  .border-#{$colorType} {
    border: 2px solid $prop;
  }
}

@import './components/pokemonDetails/index.scss';
@import './components/pokemonList/index.scss';
